// LAYOUTS AND GRIDS

.projects-section {
  height: 100vh;
}

.grid-projects {
  display: grid;
  align-content: center;
  justify-items: center;
  row-gap: 4rem;
}

.font-projects-heading {
  font-size: 2.5rem;
  animation: moveInRight 1s ease-out;
  font-family: "Quicksand", sans-serif;
}

.project-content {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;

  &__image {
    max-height: 35rem;
    max-width: 35rem;
    background-size: cover;
  }
  &__btns {
    display: grid;
    row-gap: 5rem;
  }
}

.projects-showcase {
  height: 80vh;
  width: 60vw;
  display: grid;
  align-items: center;
  border: solid 0.5px #707070;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5rem 1fr;

  &__mybeta {
    align-self: stretch;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    border-right: solid 1px rgba(205, 205, 205, 0.45);
  }
  &__pathfinding-racer {
    align-self: stretch;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    border-right: solid 1px rgba(205, 205, 205, 0.45);
  }
  &__subscription-manager {
    align-self: stretch;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
  }

  &__project {
    grid-column: 1 / 4;
    align-self: stretch;
  }
}

// UTILS

.border-bottom {
  border-bottom: solid 1px rgba(205, 205, 205, 0.45);
}

.icon-tiny {
  height: 3rem;
  width: 3rem;
}

.p-md {
  padding: 3rem 8rem;
}

.mt-sm {
  padding-top: 2rem;
}

// FONTS
.font-about {
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
}

.font-project {
  font-size: 2.3rem;
}

// BUTTONS
.btn {
  border-radius: 4rem;
  padding: 2rem 4rem;
  cursor: pointer;
}

.btn-blue {
  background-color: #0091ff;
  color: #fff;
}

.btn-green {
  background-color: #00d9bc;
  color: #fff;
}

// ANIMATION
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-out;
}
